{% extends "Layout/master.twig" %}

    {% block content %}
    <div class="col-sm-12">

        <div class="nest" id="tableStaticClose">
            <div class="title-alt">
                <h6>
                    管理员列表</h6>
                <div class="titleClose">
                    <a class="gone" href="#tableStaticClose">
                        <span class="entypo-cancel"></span>
                    </a>
                </div>
                <div class="titleToggle">
                    <a class="nav-toggle-alt" href="#tableStatic">
                        <span class="entypo-up-open"></span>
                    </a>
                </div>

            </div>

            <div class="body-nest" id="tableStatic">

                <section id="flip-scroll">

                    <table class="table table-bordered table-striped cf">
                        <thead class="cf">
                        <tr>
                            <th>ID</th>
                            <th>管理员名称</th>
                            <th>管理员电话</th>
                            <th>管理员邮箱</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for admin in admin_list %}

                            <tr>
                                <td>{{ admin.id }}</td>
                                <td>{{ admin.username }}</td>
                                <td>{{ admin.phonenum }}</td>
                                <td>{{ admin.email }}</td>
                                <td>{{ admin.create_time|date('Y-m-d') }}</td>
                                <td>修改 / 删除</td>
                            </tr>

                            {% endfor %}


                        </tbody>
                    </table>
                </section>

            </div>

        </div>

    </div>

    {% endblock %}